@model ClassicGarage.Models.CarModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <h4>Samochód</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.LastName)
        </dd>

        <dt>
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            Rok
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            VIN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            Seria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt>
            Data zakupu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            Data sprzedaży
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            Cena zakupu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            Cena sprzedaży
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @if (User.IsInRole("user"))
    {
        @Html.ActionLink("Powrót", "IndexUser")
    }
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Powrót", "Index")
    }
</p>
