@model ClassicGarage.Models.GarageViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

@{var headerMetadata = Model.Parts.FirstOrDefault();}
@{var headerMetadata2 = Model.OwnerModels.FirstOrDefault();}

<div>
    <h4>Części</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Model
        </dt>
        <dd>
            @Html.DisplayFor(model => headerMetadata.Car.Model)
        </dd>

        <dt>
             Zamawiający
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata2.LastName)
        </dd>

        <dt>
            Email zamawiającego
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata2.Email)
        </dd>

        <dt>
            Nazwa części
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata.Name)
        </dd>

        <dt>
            Numer części
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata.PartNumber)
        </dd>

        <dt>
            Cena zakupu
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata.PurchasePrice)
        </dd>

        <dt>
            Cena sprzedaży
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata.SellPrice)
        </dd>

        <dt>
            Data zakupu
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata.PurchaseDate)
        </dd>

        <dt>
            Data sprzedaży
        </dt>

        <dd>
            @Html.DisplayFor(model => headerMetadata.SaleDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index")
</p>
