@model IEnumerable<ClassicGarage.Models.AdvertisementModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ogłoszenia</h2>

@if (User.IsInRole("user"))
{
    <p>
        @Html.ActionLink("Stwórz nowe", "CreateUser")
    </p>

}
else if (User.IsInRole("admin"))
{
    
}

<table class="table">
    <tr>
        <th>
            Marka
        </th>
        <th>
            Model
        </th>
        <th>
            Rocznik
        </th>
        <th>
            Seria
        </th>
        <th>
            Numer Telefonu
        </th>
        <th>
            Cena
        </th>
        <th></th>
    </tr>

    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Owner.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferAmount)
            </td>
            @if (User.IsInRole("admin") || User.IsInRole("user"))
            {
                if (User.Identity.Name == item.Car.Owner.Email)
                {
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
                    </td>
                }

            }

        </tr>
        }
    }


</table>
